/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Mobil innehåll Mobil innehåll Mobil innehåll Mobil innehåll Mobil innehåll Mobil innehåll Mobil innehåll */

#h1tag {
    font-size: 25px;
    text-align: center;
}

.hidden {
    font-size: 15px;
    text-align: center;
}

#header {
    background-color:#023F6B;
     margin-left:auto;
    margin-right:auto;
    /*border-top-left-radius:2em;*/
    /*border-top-right-radius:2em;*/
    /*background-color:white;*/
    background-image: url(../pictures/loggaasedaMobile4.png);
    background-repeat:no-repeat;
    background-position:center;
   /*background-size:auto auto;*/
    width: auto;
    height: 125px;
    /*background-position:center;*/
    /*margin-bottom:10px;*/
/*position: absolute; top: 60px; left: 80px;*/
}
#backgroundHeader{
    /* background-image:url(../pictures/loggaasedaMobile3.png);*/
    /* width: 400px;*/
    /*height: 100px;*/
/*position: relative; top: 0; left: 0;*/
}


/*
.hidden {
    display:none;
}
*/

html {
    /*background-image: url("../pictures/bg_grass.jpg");*/
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

body {
    width: auto;
    height: auto;
}

table {
    display: block;
    overflow: scroll;
}

#twoinone {
    max-width: 300px;
    height: auto;
}

nav {
    width: 300px;
    height: auto;
}

.klass {
    padding: 15px;
    /*width:auto;*/
}

#bilden {
    width: 55px;
    height: 55px;
}

#aside1 {
    margin: 50px;
    padding: 50px 50px 10px 50px;
    border: 1px solid black;
}

#aside {
    margin: 50px;
    padding: 50px 50px 10px 50px;
    border: 1px solid black;
}

.bildflera {
    background-image: url("../pictures/myrvalla02.jpg");
    background-repeat: no-repeat;
}

#seces {
    max-width: 400px;
    height: auto;
}

#fboverlay {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

#imagen {
    max-width: 250px;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#artherr {
    width: auto;
    height: auto;
    margin-top: 50px;
    background-color: rgb(235, 235, 235);
}

#nyaart {
    max-width: 250px;
    height: auto;
    background-color: rgb(225, 225, 225);
}

#match {
    width: auto;
    height: auto;
    float: left;
    border: 1px solid black;
    background-color: rgb(225, 225, 225);
}

#sece {
    width: 200px;
    height: auto;
}

#table1 {
    width: 250px;
    height: auto;
    overflow: scroll;
}

#chall {
    width: 150px;
    height: auto;
}

#meny {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-bottom: 10px;
}

#meny2 {
    width: 900px;
    margin: 0 auto;
}

#meny2 ul {
    position: relative;
    list-style-type: none;
    float: center;
    padding: 0;
    margin: 0;
}

#meny2 li {
    margin: 0;
    padding: 0;
    width: auto;
    list-style-type: none;
    font-size: 100%;
    background-color: silver;
    border-bottom: 1px solid black;
}


/*
#meny2 li.highlight {
    background-color: white;
    top: 50px;
    height: 8px;
    z-index: 1;
    position: absolute;
    overflow: hidden;
  
}
*/

#meny2 li a {
    font-size: 20px;
    display: block;
    width: auto;
    height: 25px;
    padding-bottom: 0.2em;
    text-decoration: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#container {
    max-width: 300px;
    margin-left: 1px;
}

#sidebaren {
    max-width: 300px;
    margin: 0px;
    padding: 0px;
}


/*
#navigation {
    max-width: 300px;
    height:auto;
}

new menu phone
#navigation 
{
    text-align: center;
    margin-left: auto;
    margin-right: 10%;
    width:auto;
    margin-bottom:10px;
   
}
#navigation li{
      
    margin-left: auto;
    margin-right: auto;
}

/*news funtionen*/

.dhmcss {
    width: 100%;
    background: #FFFFFF;
    COLOR: #5C5C5C;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.dhmcssover {
    width: 100%;
    background: #EC941C;
    COLOR: #FFFFFF;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.dhmcssdown {
    width: 100%;
    background: #ACDCA5;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.duztext {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    line-height: 18px;
}

.duztext2 {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 10px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}

.kbaslik {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 11pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.bbaslik {
    COLOR: #222222;
    FONT-FAMILY: Arial, Arial, Geneva;
    FONT-SIZE: 13pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

A:link {
    text-decoration: none;
    color: #202090;
    font-size: 12px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

A:visited {
    text-decoration: none;
    color: #202090;
    font-size: 12px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

A:hover {
    text-decoration: underline;
    color: #FF9900;
    font-size: 12px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

a {
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    color: #202090;
}

#resultat {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

#chall {
    font-style: italic;
}

.hej15 {
    background-color: gray;
}

#lagsvag {
    border: 1px solid black;
    background-color: rgb(145, 145, 195);
}

.listen {
    list-style-type: disc;
    padding: 5px 15px 5px 25px;
}

#headboll {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(200, 200, 235);
}

.gro {
    background-color: gray;
}

#train {
    padding: 5px;
    font-weight: bold;
    background-color: gray;
}

#knatte {
    width: 300px;
    /*background-color: white;*/
    margin-top: 0px;
}

#knatte img {
    box-shadow: 25px 25px 15px black;
    background-repeat: no-repeat;
    background-size: 350px 200px;
    margin-top: 5px;
}

#knatteArticle {
    background-color: white;
    width: auto;
    border: 5px solid;
    margin-top: 50px;
    border-color: silver;
}

#knatteArticle h2 {
    font-size: large;
    padding-top: 25px;
    padding-bottom: 10px;
    text-decoration: underline;
}

#fair {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    font-style: oblique;
    padding-left: 10px;
    font-size: large;
}

#textbox {
    width: 200px;
    margin-left: 30%;
    padding-bottom: 20px;
    padding-top: 50px;
}

#textBoxH {
    color: green;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 28%;
}

#textbox ul li {
    margin-top: 20px;
    background-image: url('../pictures/football.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 19px;
}

#knattebild {
    width: 100%;
}

#fb {
    margin-right: 50%;
    display: none;
}

#textBoxH {
    color: green;
}

#ark {
    border: 1px solid black;
    /*max-width: 300px;*/
    margin-top: 50px;
    background-color: white;
}

#formBox {
    max-width: 300px;
    padding-top: 8px;
}

#art {
    width: auto;
    margin-top: 50px;
    background-color: gray;
    border: 2px solid;
    border-color: black;
    font-family: sans-serif;
}

#policyinnehall {
    padding: 0px 25px 0px 25px;
}

#policen {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

#first {
    padding: 15px 15px;
}

#str {
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
}

#second {
    padding: 15px 15px;
}

#third {
    padding: 15px 15px;
}

#over {
    font-weight: bold;
    text-align: center;
    padding: 15px 15px;
}

#fourth {
    padding: 15px 15px;
}

.lists {
    padding: 5px 35px 5px 35px;
    list-style-type: disc;
}

.liulett {
    padding: 3px 3px;
}

#over2 {
    font-weight: bold;
    text-align: center;
    padding: 15px 15px;
}

#fifth {
    padding: 15px 15px;
}

#bordern {
    margin: 3px;
    padding: 3px;
    border: 1px solid black;
    background-color: rgb(175, 175, 175);
}

#barnh2 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
}

#barn3 {
    padding: 5px;
    font-size: 17px;
}

#pbarn {
    width: 250px;
    padding: 10px;
    line-height: 20px;
}

#alle {
    padding: 10px;
    width: 250px;
    line-height: 20px;
}

#olikal {
    padding: 10px;
    width: 250px;
    line-height: 20px;
}

#damerna {
    font-style: italic;
    padding: 3px;
}

#paran {
    border: 1px solid black;
    margin: 3px;
    background-color: rgb(235, 235, 235);
}

/*Nav menu Nav menu Nav menu Nav menu Nav menu Nav menu Nav menu Nav menu Nav menu*/ 
/*test meny*/

a {
	color: #333;
}
/*#show{*/
/*    display:hide;*/
/*}*/
/*#show.onClick nav{*/
/*    visibility:default;*/

/*}*/
/*#show{*/
/*    width:150px;*/
/*    height:70px;*/
/*    color:black;*/
/*}*/
/*#show #nav.onClick {*/
/*  visibility: hidden;*/
/*}*/
/*#show.nav {*/
  
/*}*/
/*-------------------------------------*/
    /*#lagDrop .cont li:hover {*/
    /*    background: #eee;*/
    /*    color: #333;*/
    /*}*/
    
    /*#lagDrop .cont li {*/
        
    /*    list-style: none;*/
    /*    text-align: left;*/
    /*    color: #888;*/
    /*    font-size: 14px;*/
    /*    line-height: 30px;*/
    /*    height: 30px;*/
    /*    padding-left: 10px;*/
    /*    border-top: 1px solid #ccc;*/
    /*}*/
    
    /*#lagDrop .cont li:last-of-type {*/
    /*    border-bottom-left-radius: 5px;*/
    /*    border-bottom-right-radius: 5px;*/
        
    /*}*/
/*.lagDrop ul{*/
/*        visibility:hidden;*/
        
/*    }*/
/*--------------*/
#demo {
        margin: 30px 0 50px 0;
        font-family: Helvetica , Helvetica, Arial, sans-serif;
    }
    
    #demo .wrapper {
        display: inline-block;
        width: 180px;
        margin: 0 10px 0 0;
        height: 20px;
        position: relative;
    }
    
    #demo .parent {
        background-image:url("../pictures/threelines.png");
        background-repeat:no-repeat;
        background-size:154px 50px;
        background-position:center;
        height: 100%;
        width: 94px;
        display: block;
        cursor: pointer;
        line-height: 30px;
        height: 30px;
        /*border-radius: 5px;*/
        /*background: #F9F9F9;*/
        border: 1px solid;
        border-bottom: 1px solid;
        /*color: #282D31;*/
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
        -webkit-transition-delay: .8s;
        text-align: center;
    }
    
    #demo .parent:hover,
    #demo .cont:hover ~ .parent {
       
        /*background: #fff;*/
        -webkit-transition-delay: 0s, 0s, 0s;
    }
    
    #demo .cont:hover ~ .parent {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 0;
       
    }
    
    #demo .cont {
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width:auto;
        padding-top: 30px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        border: 1px solid #777;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.4);
    }
    
    #demo .wrapper:active .cont {
        height: 280px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    #demo .cont:hover {
       height: 280px;
        z-index: 3;
        -webkit-transition-delay: 0s;
        
    }
    
    
    #demo .cont ul {
        background: #fff;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    #demo .cont ul a {
        text-decoration: none;
        
    }
    
    #demo .cont li:hover {
        background: #eee;
        color: #333;
    }
    
    #demo .cont li {
        
        list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 40px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
    }
       
    
    #demo .cont li:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
    }
    
    /*#varaLag ul{*/
        
    /*}*/
/*-------------------------------------*/
/*   #varaLag .wrapper:active .cont {*/
/*        height: 500px;*/
/*        z-index: 3;*/
/*        -webkit-transition-delay: 0s;*/
/*    }*/
    
/*    #varaLag .cont:hover {*/
/*       height: 500px;*/
/*        z-index: 3;*/
/*        -webkit-transition-delay: 0s;*/
        
/*    }*/
    
    
/*    #varaLag .cont ul {*/
/*        background: #fff;*/
/*        margin: 0;*/
/*        padding: 0;*/
/*        overflow: hidden;*/
/*        height: 100%;*/
/*        border-bottom-left-radius: 5px;*/
/*        border-bottom-right-radius: 5px;*/
/*    }*/
    
/*    #varaLag .cont ul a {*/
/*        text-decoration: none;*/
        
/*    }*/
    
/* #varaLag .cont li:hover {*/
/*        background: #eee;*/
/*        color: #333;*/
/*    }*/
    
/*    #varaLag .cont li {*/
        
/*        list-style: none;*/
/*        text-align: left;*/
/*        color: #888;*/
/*        font-size: 14px;*/
/*        line-height: 30px;*/
/*        height: 40px;*/
/*        padding-left: 10px;*/
/*        border-top: 1px solid #ccc;*/
/*    }*/
    
/*    #varaLag .cont li:last-of-type {*/
/*        border-bottom-left-radius: 5px;*/
/*        border-bottom-right-radius: 5px;*/

/*}*/
#menuForBiggerDevice{
    /*visibility:hidden;*/

    display:none;
}
/*Index mobile Index mobile Index mobile Index mobile Index mobile Index mobile Index mobile*/
#knatteArticle1{
  
 margin-left:auto;
    margin-right:auto;
   
       /*margin-bottom:20px;*/
    border-radius: 10px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    /*max-width: 970px;*/
   /*padding-bottom:20px;*/
    background-color:#191f96;

}
#textindex{
   margin-left:auto;
   margin-right:auto;
    width:auto;
    /*max-width:920px;*/
    background-color:white;
    /* line-height: 150%;*/
    /*padding-left:30px;*/
    /*float:left;*/
    /*width:500px;*/
    border: 5px solid;
    border-radius: 25px;
    border-color:#191f96;
   
}
#textindex p{
    font-size:14px;
    font-style: normal;
    margin-bottom:15px;
    margin-left:10px;
    margin-right:10px;
    
}


/*Footer mobile Footer mobile Footer mobile Footer mobile Footer mobile Footer mobile Footer mobile*/
#footer{
    margin:0 auto;
     margin-left:auto;
   margin-right:auto;
  
    position: relative;
    text-align:center;
    width:auto;
    background-color:white;
    /*width:auto;*/
    /*width:900px;*/
     /*clear: left;*/
   /*line-height: 250%;*/
    /*background-color:white;*/
    border-radius: 20px;
    border:5px solid;
    border-color:#191f96;
    /*margin-top:30px;*/
    margin-top: 10px;
 font-size:11px;
 

}
.fotterOl{
    width:auto;
    /*float:left;*/
    /*padding-left:175px;*/
    /*padding-right:2%;*/
    /*padding-bottom:50px;*/
    /*line-height: 150%;*/
    font-size:11px;
    /*padding-top:20px;*/
    /*margin-bottom:60px;*/
      /*height:100px;*/
   
}
#secondRss{
    display:none;
}

#textindexdam{
  background-color:white;
     line-height: 160%;
    /*padding-left:20%;*/
    /*float:left;*/
    /*width:970px;*/
     /*margin-left:25px;*/
    /*height:700px;*/
    /*padding-right:80px;*/
    padding-bottom:20px;
     border: 5px solid;
    border-radius: 25px;
    border-color:#191f96;
    
}
#textindexdam p{
    font-size:14px;
    font-style: normal;
    margin-bottom:15px;
    margin-left:10px;
    margin-right:10px;
    width:auto;
}
#tranan{
    font-size:16px;
    font-style: normal;
    margin-bottom:15px;
    margin-left:10px;
    margin-right:10px;
    
}
#textindexdam img{
 /*margin-left:200px;*/
 /*float:center;*/
 margin-left:auto;
 margin-right:auto;
 /*border:2px solid;*/
 /*border-color:#191f96;*/
  /*margin: auto;*/
    width: 90%;
    padding-left:10px;
    /*padding: 10px;*/
 
}