#meny {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    /*border-radius: 3px;
*/
}

#meny2 {
    width: 900px;
    margin: 0 auto;
}

#meny2 ul {
    position: relative;
    list-style-type: none;
    float: center;
    padding: 0;
    margin: 0;
}

#meny2 li {
    width: 150px;
    border-collapse: separate;
    /* border-left: 1px solid gray;
    border-radius:5px solid;
    */
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-image: none;
}

#meny2 li.highlight {
    background-color: white;
    top: 50px;
    height: 8px;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    /*opacity: 0.8;*/
}

#meny2 li a {
    width: 140px;
    height: 10px;
    padding-top: 16px;
    margin: 0 0px;
    color: white;
    font: normal 25px arial;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    position: relative;
    z-index: 2;
}

#navigation {
    max-width: 1400px;
    min-width: 900;
}


/*news funtionen*/

.dhmcss {
    width: 100%;
    background: #FFFFFF;
    COLOR: #5C5C5C;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.dhmcssover {
    width: 100%;
    background: #EC941C;
    COLOR: #FFFFFF;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.dhmcssdown {
    width: 100%;
    background: #ACDCA5;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.duztext {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    line-height: 18px;
}

.duztext2 {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 10px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}

.kbaslik {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 11pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.bbaslik {
    COLOR: #222222;
    FONT-FAMILY: Arial, Arial, Geneva;
    FONT-SIZE: 13pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

A:link {
    text-decoration: none;
    color: #202090;
    font-size: 12px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

A:visited {
    text-decoration: none;
    color: #202090;
    font-size: 12px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

A:hover {
    text-decoration: underline;
    color: #FF9900;
    font-size: 12px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

a {
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    color: #202090;
}